
/*Flex container for body of homepage.*/
.flex-container-body, .flex-container-body-posts{
    margin:auto;
    border:green 1px solid;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
}

/*Styling disaster index and sort-by bar*/
.flex-container-body{
    width:80%;
    border-top:#f4f4f4 1px solid;
    background-color: #29383b;
    color:white;
}

.disaster-index{
    flex-grow:1;
    text-align: center;
    padding:0px;
    margin:0px;
}

.disaster-index > span{
    font-size:30px;
}

.sort-by{
    /*border:red 1px solid;*/
    padding:0px;
    
}

.sort-by select, .sort-by select > option{
    padding: 10px;
    background-color:#1e445c;
    border:#1e445c 2px solid;
    color:white;
    float:left;
}


.sort-by span{
    padding: 10px;
    margin-top:0px;
    margin-right:10px;
    float:left;
    text-align: center;
    background-color:#1e445c;
    /*border:orange 1px solid;*/

}


/*Styling for disaster related posts*/
.flex-container-body-posts{
    width:80%;
    display:flex;
}

.post-content{
    /*border:orange 1px solid;*/
    padding:0px;
    margin:0px;
    font-size:18px;
}