
  /*If the screen in less than 665px, styling will change as defined below.*/
  @media screen and (max-width:665px) {

    .flex-container-header > div{
        width:100%;
    }

    header nav{
      float: left;
      width:100%;
    }
    .logo{
      width:30%;
    }

    .search-bar{
      width:70%;
    }

    .login-register{
      width:100%;  
     margin:auto;
     }

    .login-register ul{
        float:center;
        width:80%;
        margin:auto;
    }
      
  }