asgiref==3.2.10
catkin==0.7.23
certifi==2020.6.20
chardet==3.0.4
diagnostic-updater==1.9.3
Django==3.1
django-csvimport==2.16
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.15
gennodejs==2.0.1
genpy==0.6.9
html5lib==1.1
idna==2.10
json-table-schema==0.2.1
lxml==4.5.2
messytables==0.15.2
python-dateutil==2.8.1
python-magic==0.4.18
pytz==2020.1
requests==2.24.0
sensor-msgs==1.12.7
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
webencodings==0.5.1
xlrd==1.2.0
